* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    user-select: none;
    /* height: 100%;
    width: 100%; */
}

h1,
h2,
h3,
h4,
h5,
h5 {
	height: min-content;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}


.app-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
